.about-project__content {
  display: grid;
  grid: 1fr minmax(72px, max-content) / 1fr 1fr;
  gap: 110px 40px;
}

.about-project__timeline-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: stretch;
  grid-column: 1 / 3;
}

.about-project__timeline-backend {
  flex-basis: 228px;
}

.about-project__timeline-frontend {
  flex-basis: 912px;
}

@media screen and (max-width: 768px) {
  .about-project__content {
    gap: 94px 30px;
  }
}

@media screen and (max-width: 480px) {
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr minmax(60px, max-content);
    row-gap: 56px;
  }

  .about-project__timeline-container {
    margin-top: 4px;
    grid-column: 1 / 2;
  }

  .about-project__timeline-backend {
    flex-basis: 100px;
  }

  .about-project__timeline-frontend {
    flex-basis: 184px;
  }
}

