.info-column {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.info-column__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.info-column__subtitle {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .info-column__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 480px) {
  .info-column__title {
    font-size: 18px;
    line-height: 22px;
  }

  .info-column__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}