.submit-button {
  width: 100%;
  min-height: 45px;
  margin-top: 69px;
  background: #4285F4;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #FFF;
  text-align: center;
  transition: opacity .2s, background-color .2s;
  cursor: pointer;
}

.submit-button:hover {
  opacity: .8;
}

.submit-button:disabled {
  opacity: .8;
  cursor: default;
  color: #C2C2C2;
  background-color: #F8F8F8;
}
