.header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: calc(100% - 70px * 2);
  max-width: 1140px;
  min-width: 288px;
  min-height: 74px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header__logo {
  background: url("./../../images/icons/logo.svg") center no-repeat;
  min-width: 38px;
  width: 38px;
  height: 38px;
  margin-right: 45px;
}

.header__nav-list {
  display: flex;
  gap: 16px;
  margin-right: 45px;
  padding: 0;
  list-style: none;

}

.header__link {
  transition: opacity .2s;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.header__link:hover {
  opacity: .6;
}

.header__page-link {
  white-space: nowrap;
  font-size: 13px;
  line-height: 18px;
}

.header__account-button {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  background: none;
  color: #FFF;
  border: none;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__signup-link {
  font-size: 12px;
  line-height: 16px;
}

.header__auth-text {
  font-size: 12px;
  line-height: 16px;
}

.header__auth-button {
  width: 76px;
  height: 32px;
  background: #3DDC84;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity .2s;
}

.header__auth-button:hover {
  opacity: .8;
}

.header__account-logo {
  background: url("./../../images/icons/account.svg") rgba(255, 255, 255, .1) center no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 45px;
  border-radius: 50%;
}

.header__burger-menu {
  width: 44px;
  height: 44px;
  margin-left: auto;
  background: url("./../../images/icons/burger.svg") center no-repeat;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: calc(100% - 10px * 2);
  }
}