.promo {
  min-width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -74px;
  min-height: calc(524px + 74px);
  background: url("./../../../images/icons/praktikum-logo.svg") #073042 center no-repeat;
  background-size: 320px 320px;
}

.promo__hero {
  max-width: 730px;
  min-height: 524px;
  padding: 74px 48px 0 48px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.promo__hero-title {
  margin: 184px 0 0 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

.promo__nav {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  min-height: 66px;
  background: #272727;
}

.promo__nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #FFF;
  text-decoration: underline #FFF;
  transition: opacity .2s;
  cursor: pointer;
}

.promo__link:hover {
  opacity: .6;
}


@media screen and (max-width: 768px) {
  .promo__hero {
    min-height: 784px;
  }

  .promo__hero-title {
    margin-top: 326px;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    background-size: 248px 248px;
    background-position-y: 216px;
  }

  .promo__hero {
    min-height: 570px;
    padding: 74px 10px 0 10px;
  }

  .promo__hero-title {
    margin-top: 207px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -0.04em;
  }

  .promo__link {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
  }
}
